@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
body, html
  background-color #fffff8
  margin 0
  font-family 'Montserrat', sans-serif

.container
  max-width 1024px
  margin auto
  padding: 0 16px